/node_modules
/public/css
/public/fonts
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/docker/logs/nginx/laravel_access.log
/public/sitemap.xml
/public/.htaccess
/storage/*.key
/vendor
/.idea
/.vscode
.env
.env.prod
.phpunit.result.cache
